body {
  background-color: rgb(161, 255, 252);
}
.theButton {
  padding: 6px;
  border-radius: 5px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
  background-color: rgb(255,255,255);
}
.theButton:hover {
  position: relative;
  top: -1px;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.5);
}
.theButton:active {
  box-shadow: 0px 0px 0px;
  position: relative;
  bottom: -2px;
}
